<div class="container">
    <div class="cover"></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Headphone</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Premium Headphone</b></span>
                <p>The HD 350BT delivers an engaging sound experience with deep dynamic bass. 
                    Flawless transmission is assured by the latest wireless technology, including Bluetooth® 5.0 
                    and high-quality wireless codecs such as AAC, aptX™, and aptX™ Low Latency
                     – for perfect audio‒video synchronization.
                    </p>
                    <p> Customizing your sound experience is effortless thanks to the Sennheiser Smart Control App. 
                        Its intuitive equalizer lets you easily adjust the sound to fit your taste. 
                        The special podcast mode can be selected to optimize the intelligibility of your favorite podcasts, 
                        audio books, and other speech content.</p>
           
                        <div class="prix">
                           <span><b>$30.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div> 
                      </div>
    </div>
</div>

<br>
<hr>
<div class="container">
    <div ><img width="100%" src="/assets/images/sh.png" alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Shoes</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Cargo Men's Shoes</b></span>
                <p>The Arch Fit - Banlin from Skechers features a sporty knit mesh fabric upper in 
                    a bungee laced slip-on silhouette with Arch Fit removable supportive 
                    cushioning insole system and cushioned midsole.
                    </p>
                    <p>Smooth synthetic front, side and heel panel overlays for added stability
                        Slip on bungee laced athletic sporty comfort walking sneaker design </p>
           
                        <div class="prix">
                           <span><b>$30.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>

<br>
<hr>
<div class="container">
    <div ><img width="90%" src="/assets/images/sh2.png" alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">Watch</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Apple Watch SE</b></span>
                <p>Wallet. Store your boarding pass, movie tickets or rewards cards for easy access.
                    Siri. Do almost everything on Apple Watch — ask for directions, 
                    get a weather report or play a song — just by talking to Siri.
                    Find Devices. Find People. Find Items. Locate devices or get pinged when you leave your iPhone behind. See where your friends are.
                     Track down an AirTag. Do it all from your watch.
                    </p>
                    <p>Noise. The Noise app lets you know when high noise levels around you can possibly affect your hearing. </p>
                    Camera Remote. Use Apple Watch as a viewfinder for your iPhone camera.
                    See a preview, then set a timer or just snap away.
                        <div class="prix">
                           <span><b>$100.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>
<br>
<hr>
<div class="container">
    <div ><img src="/assets/images/ja.png" class="jacket"  alt=""></div>
    <div class="content">
        <div class="nav">
            <span class="logo">jacket</span>
            <span><i class='fab fa-sistrix' style='font-size:24px'></i></span>
        </div>
        <div class="content-body">
            <div class="pages">
                <span class="active"><b>01</b></span>
                <span>02</span>
                <span>03</span>
                <span>04</span>
            </div>
            <div class="black-label">
                <span class="title"><b>Seasons Jacket</b></span>
                <p> 
                    jackets themed with a  winter-style design, often worn during the festive season. 
                    They are often leather. A more traditional approach is a roll neck (or "turtleneck") top-pulled garment.
                    </p>
                    <p>Merry Christmas Print Crewneck Pullover Long Sleeve Shirts </p>
           
                        <div class="prix">
                           <span><b>$10.00</b></span>
                           <!-- <span class="crt">Add to cart</span> -->
                       </div>
                       </div>  
           
        </div>
        
    </div>
</div>