
<div class="detel">
    <h1>Welcome To <br> <span> ShopeIt!!</span></h1>
    <p> You need it and we got It. Don't search in mind, search in Muchmore.<br>
         <br>Find It..! Love It...! Buy It...!</p>
    <a href="#">Shop NoW</a>
</div>
<!--<div class="images">
    <img src="assets/images/shape.png" class="shape">
    <img src="assets/images/cart2.png" class="cart">
</div>-->

<div class="social">
   <a href="#"><i class="fab fa-dribbble"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-behance"></i></a>
</div>
<router-outlet></router-outlet> 